* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	background: #efefbb;
}

.poke-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	row-gap: 2rem;
	margin: auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 8px;
	box-shadow: 0 4px 16px rgba(151, 150, 150, 0.4);
	padding: 24px;
	margin: 8px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	max-width: 90%;
	margin-top: 24px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .info .number {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 5px;
	border-radius: 8px;
	font-size: 0.8rem;
}

.pokemon .info .name {
	margin: 16px 0 8px;
}
