* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f4f4f4;
	font-family: "Avenir", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	padding: 16px;
}

.testimonial-container {
	background-color: rgb(62, 65, 68);
	color: white;
	border-radius: 16px;
	margin: 24px auto;
	padding: 48px 80px;
	max-width: 768px;
	position: relative;
}

.fa-quote {
	color: rgba(255, 255 255, 0.3);
	font-size: 24px;
	position: absolute;
	top: 72px;
}

.fa-quote-right {
	left: 40px;
}
